.services {
    font-family: 'Arial', sans-serif; /* Fonte padrão para a seção */
    font-size: 16px; /* Tamanho da fonte para a seção */
    color: #333; /* Cor do texto */
  }
  
  .services h2 {
    font-family: 'Roboto', sans-serif; /* Fonte personalizada para o título */
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .service-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .service-card img {
    width: 100%;
    height: auto;
  }
  
  .service-card-content {
    padding: 15px;
  }
  
  .service-card-content h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .service-card-content p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
  }
  /* Services.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Aplica a fonte 'Roboto' ao seu componente */
.services h2, .services h3, .services p {
  font-family: 'Roboto', sans-serif;
}
